<ul class="home post-list">
    <% postList.forEach(function(post) { %>
        <li class="post-list-item">
            <article class="post-block">
                <h2 class="post-title">
                    <a href="/v/post/<%= post.pathname %>" class="post-title-link">
                        <%= post.title %>
                    </a>
                </h2>
                <div class="post-info">
                    <span class="post-time">
                        <%= post.createTime %>
                    </span>
                    <ul class="post-tag-list">
                        <% post.tagList.forEach(function(tag) { %>
                            <li class="post-tag-item">
                                <a href="<%= tag.id %>">
                                    #<%= tag.name %>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="post-content">
                    <%- post.summaryHtml %>
                </div>
                <a href="/blog/v/post/<%= post.pathname %>" class="read-more">...more</a>
            </article>
        </li>
    <% })%>
</ul>